name: StockBrain CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build-backend:
    runs-on: ubuntu-latest
    
  
    services:
      postgres:
        image: postgres:16
        env:
          POSTGRES_DB: stock_brain
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: password
        ports:
          - 5432:5432
        
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache:maven: true

  
    - name: Grant execute permission for mvnw
      run: chmod +x stock-brain/mvnw

   
    - name: Build and Test with Maven
      run: |
        cd stock-brain
        ./mvnw clean verify
      env:
        DB_URL: jdbc:postgresql://localhost:5432/stock_brain
        DB_USERNAME: postgres
        DB_PASSWORD: password
        ALPHA_KEY: "ci_test_key"
        BRAPI_TOKEN: "ci_test_key"
        GEMINI_KEY: "ci_test_key"


  build-frontend:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4

    - name: Set up Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20'
        cache: 'npm'
        cache-dependency-path: stock-brain-front/package-lock.json

    - name: Install Dependencies
      run: |
        cd stock-brain-front
        npm ci

    - name: Build Angular App
      run: |
        cd stock-brain-front
        npm run build -- --configuration=production
